@charset "UTF-8";
/* CSS Document */

html {
	font-family: Arial, sans-serif;
	font-size: 16px;
}


/* Header Section */

header {
	/* position: fixed; */
	z-index: 1;
	height: 64px;
	display: inline;
	width: 100%;
}

header .content {
	display: flex;
  	align-items: center;
}

.ic-logo {
	height: 32px;
	padding-left: 24px;
}

h4 {
	line-height: 32px;
}

.colmar {
	color: #4B4646;
}

.academy {
	flex: 1;
	color: #656565;
	font-weight: 400;
}

.nav-bar-mobile {
	display: none;
}

.nav-bar-desktop {
	padding-right: 24px;
}

.nav-bar-desktop a {
	padding-left: 16px;
}

/* Banner */

.banner {
	background-color: rgba(216,216,216,1);
	width: 100%;
	display: flex;
	justify-content: flex-start;
	text-align: center;
}

.banner h2 {
	font-size: 52px;
}

.banner h3 {
	font-weight: 500;
}

.banner-img {
	width: 60%;
	height: auto;
	padding: 32px 24px;
	
}

.banner-text {
	vertical-align: baseline;
  	text-align: left;
	width: 600px;
	padding: 200px 100px;
	
}

.start-button {
	background-color: #4B4646;
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	width: 550px;
}

/* Information Articles Section */

.informations {
	display: inline-flex;
	justify-content: space-between;
}

.main {
	padding: 32px 24px;
	width: 60%;
}


.main h2 {
	font-size: 62px;
	padding-top: 32px;
	padding-bottom: 24px;
}

.main h6 {
	font-weight: 500;	
	color: #4B4747;
	padding-bottom: 32px;
}

.main p {
	font-size: 9px;
}


.articles {
	display: inline;
	border-left: solid 1px #D8D8D8;
	padding-left: 16px;
}

.article-content {
	width: 65%; 
}

.article-content h2 {
	padding-bottom: 8px;
	padding-top: 8px;
}

.article-content p {
	padding-bottom: 8px;
}

.orientaion {
	display: inline-flex;
	padding-top: 16px;
}

.campus {
	display: inline-flex;
}

.guest-lecture {
	display: inline-flex;
	
}

.guest-lecture {
	background-color: #D9D9D9;
	
}

.articles img {
	padding-top: 16px;
	padding-left: 16px;
	padding-bottom: 16px;
	padding-right: 24px;
	
}

.articles a {
	color: blue;
}
